<!--
/**
description: Iskanje podatkov, vnos kraja

slide-text-start
Vnos kraja
Iskanje po kraju
slide-text-end
**/
-->
<!doctype html>
<html lang="sl">
  <head>
    <meta charset="utf-8">
    <title>Črpalke in cene goriv</title>
  </head>
  <body style="font-size: 250%">
    <div id="app">
      <div v-if="napaka">{{ napaka }}</div>

      <form action="javascript:void(0);">
        <input type="text" placeholder="Kraj..." v-model="kraj" @keyup.enter="isci">
        <button type="button" @click="isci">Išči</button>
        {{ kraj }}
      </form>

      <table>
        <tr>
          <th>#</th>
          <th>Naziv</th>
          <th>Naslov</th>
          <th>95</th>
          <th>100</th>
          <th>Dizel</th>
          <th>LPG</th>
        </tr>
        <tr v-for="(podatek, pidx) in podatki" :key="pidx">
          <th>{{ pidx }}</th>
          <th>{{ podatek.name }}</th>
          <th>{{ podatek.address }}</th>
          <th>{{ podatek.prices['95'] }} </th>
          <th>{{ podatek.prices['100'] }}</th>
          <th>{{ podatek.prices.dizel }}</th>
          <th>{{ podatek.prices['avtoplin-lpg'] }}</th>
        </tr>
      </table>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<script>
const CORS_URL = 'https://cors-anywhere.herokuapp.com/'

let app = new Vue({
  el: '#app',

  data: {
    podatki: null,
    napaka: null,
    kraj: null,
  },

  methods: {
    isci() {
      let goriva_url = "https://goriva.si/api/v1/search/"
      let goriva_data = { 'position': this.kraj, 'radius': 10000 }

      axios.get(CORS_URL + goriva_url, { params: goriva_data })
        .then(response => { this.podatki = response.data.results })
        .catch(e => { this.napaka = e })
    }
  },
})
</script>
  </body>
</html>